body{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    background: url("back.jpg") no-repeat center, rgba(255,255,255,0.5);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'poppins';
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:auto 10px;
    font-size: 20px;
    font-family:'poppins';
    color:rgb(26, 66, 245);
}
h3{
    margin: -10px auto 0.5em;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: -2px;
    background:rgb(20, 20, 20);
    font-size:12px;
    padding: 5px;
    color:white;
    text-align: center;
}
button{
    background-color: rgb(26, 66, 245);
    color: white;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    transition: 0.2s linear;
    font-weight: 600;
    letter-spacing: 0.5px;
}
button:hover{
    background-color: rgb(3, 17, 80);
    transition: 0.2s linear;
}
button:active{
    transform: translateY(4px);
}
input{
    margin: 10px auto;
    width: 55%;
    height: 20px;
    color:rgb(190, 190, 190);
    padding-left:10px;
}
section{
    display: inline-block;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
#resultCol{
    margin: 10px auto;
    float: right;
    color:rgb(3, 17, 80);
    background: rgb(3, 17, 80);
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 2px;
}
.similar{
    margin: 10px 1px;
    font-size: 18px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: inline-block;
    
}
#copy1,#copy2,#copy3{
    cursor: pointer;
}

.bdr{
    border: 1px black solid;
}
p{
    margin:0.2em auto;
}
aside{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    font-size: 10px;
    background-color: rgba(0, 0, 2, 0.514);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .main-color{
      float: right;
      width: 35%;
      margin:0 3px;
  }
